* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  
}

.cardContainer{
  margin: 300px;  
}

.upperCard{

}

.lowerCard{
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}

.description{
  font-style: italic;
}