* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* body{
  
  text-align: center;
} */

.cardContainer{
  margin: 30px auto;
  border: 1px solid rgb(223, 220, 220);
  width: 30%;
}

h1{
  padding: 20px;
}
.upperCard {
  width: 90%;
  margin: 0 auto;
}

.tigerImage{
  width: 100%;
  margin: 10px auto;
}


.description{
  font-style: italic;
  font-size: 14px;
  padding: 0 15px 15px 0px;
}

.lowerCard{
  border: 1px solid rgb(223, 220, 220);
  padding: 10px;
  margin: 20px;
}

.animalFeatures{
  list-style-type: none;
  margin: 20px;
}

.animalFeatures li{
  margin: 0 -20px;
  font-weight: bolder;
}

.values {
  font-weight: normal;
}